@page "/about"


<div class="container">
    <MudText Typo="Typo.h3">About</MudText>
    <p class="lead">
        Since MySpace is unfortunately quite broken and it is almost impossible to get all search results,<br />
        I have developed this site. <br />
        It is mainly there to support the lostwave community.<br />
        <br />
        <strong>This site is still under development. Bugs can occur!</strong>
    </p>

    <hr />
    <div class="lead"> 
        <img />
        If you find any bugs feel free to contact me on discord (Cr1TiKa7) or use the Feedback page :)!
    </div>
</div>


@code {

}
