@page "/changelog"

<div class="container">
    <MudText Typo="Typo.h3">Changelog</MudText>

    <MudTimeline>
        <MudTimelineItem Color="Color.Error" Size="Size.Small">
            <ItemOpposite>
                <MudText Color="Color.Error" Typo="Typo.h5">26.11.2024</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Error" Typo="Typo.h6" GutterBottom="true">v0.1.0</MudText>
                <MudText>• Server-side rewritten from scratch to support linux</MudText>
                <MudText>• MySpace service implemented</MudText>
            </ItemContent>
        </MudTimelineItem>
    </MudTimeline>
</div>

@code {

}
