@page "/"
@using BlazorDownloadFile
@using System.Collections.ObjectModel
@using System.Diagnostics
@using Lostwave.Tools.Models

<p>
</p>

<PageTitle>MySpace Crawler by Cr1TiKa7</PageTitle>

<div class="container">
    <MudText Typo="Typo.h3">Welcome to the Lostwave Tools by Cr1TiKa7</MudText>
    <MudText Typo="Typo.subtitle1">
        <p>
            This page has a collection of tools that will hopefully help the Lostwave community.
            <p />
            Due to hoster issues in the past and the project being a ASP.NET Core project mainly build for Windows (Functions, Libraries were used that would only work on windows) i am now pretty much forced to rewrite this site from scratch because i am now hosting on linux.
            <br />
            So if you are missing a feature please be patient. I'm working on it!
        </p>
    </MudText>
</div>